* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: unset;
}

/* media query for mobile 320*/
/* media query for tablet*/
/* media query for high pixel density desktops*/
@font-face {
  font-family: "main";
  src: url("../assets/fonts/ADAM.CG PRO.otf");
}

.banner {
  background-color: white;
  height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 50px;
  background-color: white;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  font-family: "main";
  font-size: 15px;
  width: 85px;
  margin: 0 20px;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__image {
  height: 612px;
  width: 100%;
}

.clothing__title {
  font-family: "main";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  margin: 15px 0;
}

.clothing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.clothing__item-img {
  width: 186px;
  height: 216px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin: 0 5px;
  -webkit-box-shadow: 5px 3px 3px lightgrey;
          box-shadow: 5px 3px 3px lightgrey;
}

.clothing__item-img-one {
  background-image: url("../assets/clothing/adrian-ordonez-xrvWzRVwAmM-unsplash.jpg");
}

.clothing__item-img-two {
  background-image: url("../assets/clothing/demorris-byrd-AZko4PDqYsI-unsplash.jpg");
}

.clothing__item-img-three {
  background-image: url("../assets/clothing/faith-yarn-Wr0TpKqf26s-unsplash.jpg");
}

.clothing__item-img-four {
  background-image: url("../assets/clothing/haryo-setyadi-acn5ERAeSb4-unsplash.jpg");
}

.clothing__item-img-five {
  background-image: url("../assets/clothing/ian-dooley-wtFc4o4Bir8-unsplash.jpg");
}

.clothing__item-img-six {
  background-image: url("../assets/clothing/taylor-dG4Eb_oC5iM-unsplash.jpg");
}

.insta {
  margin: 0 245px 50px;
}

.insta__title {
  font-family: "main";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.insta__title-link {
  text-decoration: none;
  color: black;
}

.insta__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.insta__item-img {
  width: calc(33% - 20px);
  height: 216px;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  -webkit-box-shadow: 5px 3px 3px lightgrey;
          box-shadow: 5px 3px 3px lightgrey;
}

.insta__item-img-one {
  background-image: url("../assets/insta/chermiti-mohamed-h6ajwqvCKsY-unsplash.jpg");
}

.insta__item-img-two {
  background-image: url("../assets/insta/chermiti-mohamed-RWRXLHZy38A-unsplash.jpg");
}

.insta__item-img-three {
  background-image: url("../assets/insta/chermiti-mohamed-rZC1AuyYHE4-unsplash.jpg");
}

.insta__item-img-four {
  background-image: url("../assets/insta/elvis-ray-OjXORYIGlwA-unsplash.jpg");
}

.insta__item-img-five {
  background-image: url("../assets/insta/laura-chouette-5qobDXsuw3U-unsplash.jpg");
}

.insta__item-img-six {
  background-image: url("../assets/insta/laura-chouette-8BIWYVu0vE0-unsplash.jpg");
}

.insta__item-img-seven {
  background-image: url("../assets/insta/laura-chouette-NcD7dtDj_Sc-unsplash.jpg");
}

.insta__item-img-eight {
  background-image: url("../assets/insta/mahmudul-hasan-shaon-vOfUPN3yrWc-unsplash.jpg");
}

.insta__item-img-nine {
  background-image: url("../assets/insta/rayyu-maldives-photographer-FxlajyUlzdc-unsplash.jpg");
}

.footer {
  height: 330px;
  background-color: black;
}
/*# sourceMappingURL=main.css.map */