* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "../components/banner/banner";
@import "../components/navbar/navbar";
@import "../components/hero/hero";
@import "../components/carousel/carousel";
@import "../components/instaGallery/instaGallery";
@import "../components/footer/footer";
