.clothing {
  &__title {
    font-family: "main";
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    &-img {
      &-one {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/adrian-ordonez-xrvWzRVwAmM-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
      &-two {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/demorris-byrd-AZko4PDqYsI-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
      &-three {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/faith-yarn-Wr0TpKqf26s-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
      &-four {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/haryo-setyadi-acn5ERAeSb4-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
      &-five {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/ian-dooley-wtFc4o4Bir8-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
      &-six {
        width: 186px;
        height: 216px;
        background-image: url("../assets/clothing/taylor-dG4Eb_oC5iM-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin: 0 5px;
        box-shadow: 5px 3px 3px lightgrey;
      }
    }
  }
}
