.insta {
  margin: 0 245px 50px;
  &__title {
    font-family: "main";
    display: flex;
    justify-content: center;
    margin: 30px 0;
    &-link {
      text-decoration: none;
      color: black;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &-img {
      width: calc(33% - 20px);
      height: 216px;
      margin-top: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
      box-shadow: 5px 3px 3px lightgrey;
      &-one {
        background-image: url("../assets/insta/chermiti-mohamed-h6ajwqvCKsY-unsplash.jpg");
      }
      &-two {
        background-image: url("../assets/insta/chermiti-mohamed-RWRXLHZy38A-unsplash.jpg");
      }
      &-three {
        background-image: url("../assets/insta/chermiti-mohamed-rZC1AuyYHE4-unsplash.jpg");
      }
      &-four {
        background-image: url("../assets/insta/elvis-ray-OjXORYIGlwA-unsplash.jpg");
      }
      &-five {
        background-image: url("../assets/insta/laura-chouette-5qobDXsuw3U-unsplash.jpg");
      }
      &-six {
        background-image: url("../assets/insta/laura-chouette-8BIWYVu0vE0-unsplash.jpg");
      }
      &-seven {
        background-image: url("../assets/insta/laura-chouette-NcD7dtDj_Sc-unsplash.jpg");
      }
      &-eight {
        background-image: url("../assets/insta/mahmudul-hasan-shaon-vOfUPN3yrWc-unsplash.jpg");
      }
      &-nine {
        background-image: url("../assets/insta/rayyu-maldives-photographer-FxlajyUlzdc-unsplash.jpg");
      }
    }
  }
}
